<h4><a routerLink="/documents">Реестр заявок / </a>{{id}}</h4>
<hr>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label"><b>Грузоотправитель</b></label>
  <div class="col-4">
    <p class="form-control-static">
      <a href="" [routerLink]="['/warehouse', model.warehouseFrom.id.toLowerCase()]">{{model.warehouseFrom.name}}</a>
    </p>
  </div>
  <label for="example-text-input" class="col-2 col-form-label"><b>Грузополучатель</b></label>
  <div class="col-4">
    <p class="form-control-static">
      <a href="" [routerLink]="['/warehouse', model.warehouseTo.id.toLowerCase()]">{{model.warehouseTo.name}}</a>
    </p>
  </div>
</div>
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label"><b>Номенклатура</b></label>
  <div class="col-4">
    <p class="form-control-static">
      <a href="" [routerLink]="['/product', model.product.id.toLowerCase()]">{{model.product.name}}</a>
    </p>
  </div>
  <label for="example-text-input" class="col-2 col-form-label"><b>Количество</b></label>
  <div class="col-4">
    <p class="form-control-static">
      {{model.value}}
    </p>
  </div>
</div>